.memoryGame-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

/* .memoryGame-info {
    display: flex;
    width: 50vw;
    justify-content: space-between;
    align-items: center;
} */
.memoryGame-info {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
}

.memoryGame-main {
    width: 100%;
    display: flex;
}
.memoryGame-cards {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    width: 75vw;
}

.grow-1 {
    padding-top: 1rem;
    justify-content: center;
    width:12.5vw;
}

.memoryGame-levelContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-grow: 1;
    padding-bottom: 2rem;
}
.memoryGame-levelSelectButton {
    background-color:cornflowerblue;
    color: white;
    border: none;
    font-weight: bolder;
    font-size: large;
    padding: 4rem 3rem;
    border-radius: .3rem;
    margin: 3rem;
    opacity: 1;
}

.memoryGame-levelSelectButton:hover {
    cursor: pointer;
    opacity: .7;
}